body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .country-card {
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 250px; 
  }
  
  .country-image {
    width: 100%;
    height: 150px; 
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .country-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .country-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .country-info {
    font-size: 12px;
    margin: 0;
  }